* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.messages {
    width: 70%;
    padding: 20px;
    min-width: 400px;
    margin: 30px 0px;
}

.distributeMessages {
    border: 2px solid black;
    margin: 20px 0px;
    height: 500px;
    overflow: auto;
}
              
.sendMessages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nickNameInp , .sendMessageBtn {
    padding: 5px 10px;
    font-size: 18px;
    margin: 10px 0px;
    border: none;
    border: 1px solid black;
    border-radius: 3px;    
}

.nickNameInp {
    width: 25%;
    min-width: 200px;
}

textarea {
    font-size: 17px;
    margin: 10px 0px;
    border: none;
    border: 1px solid black;
    border-radius: 3px;
    width: 50%;
    min-width: 300px;
}

.errorTxt {
    font-size: 40px;
    margin: 50px auto;
    text-align: center;
    color: red;
}

.usersBlock {
    margin: 30px 0px;
}

.drawDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    background-color: lightblue;
    width: 530px;
    border-radius: 10px;
    padding: 9px;
}

.drawNickName {
    width: 10%;
    font-size: 15px;
    min-width: 150px;
}

.drawMessage {
    width: 20%;
    font-size: 15px;
    min-width: 250px;
}

.createdAt {
    opacity: .7;
    font-size: 12px;
}

.drawUsersDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    background-color: palegreen;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    justify-content: space-between;
}

.drawUsers {
    color: #063f10;
}

.createdAt:hover {
    opacity: 1;
}


.isOnline {
    color: green;
    margin-left: 20px;
}

.usersTitle {
    text-align: center;
    margin: 50px 0px;
}

.messagesTitle {
    text-align: center;
    margin: 50px 0px;
}